<ul class="media-list">
  <% tvshows.each do |tvshow| %>
    <li class="media">
      <div class="media-left">
       
      </div>
      <div class="media-body">
        
        <div>
          <p>番組id:<%= tvshow.id%><%= link_to tvshow.showtitle, tvshow %></p>
           
          <p><%= link_to '番組内容を更新', tvlistings_path(id: tvshow.id) %></p>
          
          
          
        </div>
        
        <div>
          
          <p>番組の長さ:<%= Time.at(tvshow.show_length).utc.strftime("%H:%M:%S") %></p>
        </div>
        
        <div>
          <p>放送曜日:<%= int_to_dow(tvshow.dow) %></p>
        </div>
        
        <div>
          
          
          <p>番組開始時刻:<%= Time.at(tvshow.show_start_time).utc.strftime("%H:%M")  %></p>
        </div>
        
        
      </div>
    </li>
  <% end %>
  <%= paginate tvshows %>
</ul>